@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  @apply bg-gray-50 dark:bg-gray-900;
}

pre,
code {
  font-family: "Source Code Pro", monospace;
}

/* Transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}